<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'overview/overview.css' %}">
	<link rel="stylesheet" href="{% static 'footer.css' %}">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/index/">Working Shift Arrangement System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="container">
          <div id="overview">
              Overview
          </div>
          <div class="line"></div>
          <div id="shift-rule">
            <table id="rule-table">
				{% if months %}
                <tr>
                    <th>Month</th>
					{% for month in months %}
					<th>{{month}}</th>
					{% endfor %}
                </tr>
				{% endif %}
				{% if data %}
					{% for d in data %}
					<tr>
						<td class="name">{{d.name}}</td>
						{% for rule in d.rules %}
							<td>{{rule.attr}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				{% endif %}
            </table>
          </div>
          <div id="months">
			  {% if monthAttr %}
			  	{% for row in monthAttr%}
				<div class="row">
					{% for month in row %}
					{% if month.attr%}
						<a href="/shift/?year={{month.year}}&month={{month.MONTH}}" class="month">{{month.MONTH}}</a>
					{% else %}
						<a href="/shift/?year={{month.year}}&month={{month.MONTH}}" class="month disable">{{month.MONTH}}</a>
					{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
			  {% endif %}
          </div>
      </div>
      <div id="footer">
        Copyright © 2020 Eugene.co All Rights Reserved
      </div>
</body>
<script src="{% static 'overview.js' %}"></script>
<script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<!-- <script src="./shift.js"></script> -->
</html>
